* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0d1117;
    color: #fff;
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("https://images.wallpaperscraft.com/image/single/minecraft_game_blocks_194833_1920x1080.jpg") center/cover;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    margin: 15px 0;
    font-size: 1.3rem;
}

.ip-box {
    display: flex;
    gap: 10px;
    background: #161b22;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 15px 0;
}

.ip-box button {
    background: #2ea043;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #238636;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #2ea043;
}

/* STATUS */
.status {
    padding: 60px 20px;
    text-align: center;
}

.status-box {
    margin: auto;
    max-width: 300px;
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
}

.online .dot {
    width: 12px;
    height: 12px;
    background: #2ea043;
    border-radius: 50%;
    display: inline-block;
}

/* FEATURES */
.features {
    padding: 60px 20px;
    background: #010409;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
}

/* RULES */
.rules {
    padding: 60px 20px;
    text-align: center;
}

.rules ul {
    list-style: none;
    margin-top: 20px;
}

.rules li {
    margin: 10px 0;
}

/* STAFF */
.staff {
    padding: 60px 20px;
    background: #010409;
    text-align: center;
}

.staff-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.staff-card {
    background: #161b22;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

.admin {
    border: 2px solid gold;
}

.mod {
    border: 2px solid #2ea043;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #010409;
}
